name: CI
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
jobs:
  test:
    name: Test and maybe create tag
    timeout-minutes: 3
    runs-on: ubuntu-latest
    outputs:
      new-version: ${{ steps.bump-version.outputs.new_version }}
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up
        uses: ./.github/actions/setup
      - name: Lint
        run: pnpm run lint
      - name: Test
        run: pnpm t
      - name: Upload coverage
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: out/coverage
      - name: Bump version and create tag
        id: bump-version
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
  publish-npm:
    name: Publish packages to NPM
    timeout-minutes: 3
    runs-on: ubuntu-latest
    needs: test
    if: needs.test.outputs.new-version != ''
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Set up
        uses: ./.github/actions/setup
      - name: Set up Node for NPM registry
        uses: actions/setup-node@v6
        with:
          registry-url: 'https://registry.npmjs.org'
      - name: Publish
        run: |
          pnpm -r exec pnpm version ${{ needs.test.outputs.new-version }}
          pnpm -r -F '!abaca-example-*' exec pnpm publish --no-git-checks
